@use "../utils" as utils;

fieldset.nav_searchBar {
  width: 100%;
  height: 60px;
  margin-bottom: 1rem;
  position: relative;
}

.searchBar_input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: map-get(utils.$colors, lightgrey);
  @include utils.borders;
}
