@use "../utils" as utils;

// Container for tags filters
fieldset.nav_searchTags {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  @include utils.responsive(desktop) {
    justify-content: space-between;
  }
  @include utils.responsive(tabs) {
    flex-direction: column;
    height: 130px;
    justify-content: space-between;
  }

  // Tags filters
  .searchTags_filter {
    position: relative;
    @include utils.borders;
    min-width: 260px;
    width: fit-content;
    height: fit-content;
    margin-right: 1%;
    @include utils.responsive(desktop) {
      min-width: 25%;
      margin-right: inherit;
    }
    @include utils.responsive(tabs) {
      min-width: 100%;
      margin-right: inherit;
    }

    // Tags filters input
    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 54px;
      padding-right: 43px;
      @include utils.borders;
      color: map-get(utils.$colors, snow);
    }

    // Tags filter Ingredients
    &:nth-child(1) {
      background: map-get(utils.$colors, sea);
      input,
      ul,
      button {
        background: map-get(utils.$colors, sea);
      }
    }

    // Tags filter Appliance
    &:nth-child(2) {
      background: map-get(utils.$colors, grass);
      input,
      ul,
      button {
        background: map-get(utils.$colors, grass);
      }
    }

    // Tags filter Ustensils
    &:nth-child(3) {
      background: map-get(utils.$colors, tomato);
      input,
      ul,
      button {
        background: map-get(utils.$colors, tomato);
      }
    }

    // Buttons with icons arrow up/ arrow down
    button {
      color: map-get(utils.$colors, snow);
      font-size: 1rem;
      height: 54px;
      padding-left: 0.3rem;
      padding-right: 0.3rem;
      cursor: pointer;
    }

    // Buttons with icons arrow up
    button.searchTags_btnUp {
      display: none;
    }
  }

  // Container for tags list
  ul.searchTags_tagsList {
    display: none;
    position: absolute;
    z-index: 999;
    box-shadow: 0px 2px 8px map-get(utils.$colors, snow);
    top: 51px;
    left: 0px;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.9rem;
    width: 100%;
    @include utils.responsive(desktop) {
      justify-content: space-between;
    }

    // Tags list items
    li {
      width: 32%;
      color: map-get(utils.$colors, snow);
      padding: 0.2rem 0rem;
      @include utils.responsive(desktop) {
        width: 49%;
      }
      @include utils.responsive(tabs) {
        width: 100%;
        font-size: 1rem;
      }
    }
  }
}

// Container for active selected tags
ul.nav_selectedTags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.4rem;

  // Active selected tag item
  li {
    display: block;
    margin: 0;
    margin-right: 0.4rem;
    margin-bottom: 0.4rem;
    color: map-get(utils.$colors, snow);
    font-size: map-get(utils.$sizes, xs);
    padding: 0.4rem;
    @include utils.borders;

    // Active selected tag icon close
    span {
      margin-left: 0.5rem;
      cursor: pointer;
    }
  }
}
