@use "../utils" as utils;

// General parameters
* {
  box-sizing: border-box;
}
html {
  font-family: utils.$lato;
  font-size: 18px;
  margin: 0;
  width: 100%;
  height: 100%;
}
body {
  margin: 0 auto;
  padding: 0 3.5rem;
  background: map-get(utils.$colors, snow);
}

span.icons {
  font-family: utils.$awesome;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
// Container form (for nav search bar & tags filter)
form {
  width: 100%;
  margin: 0;
  fieldset {
    display: block;
    border: none;
    min-height: 60px;
    margin: 0;
    padding: 0;
  }
  input {
    border: none;
    outline: none;
    padding: 0.9rem;
    font-family: utils.$lato;
    font-size: map-get(utils.$sizes, med);
    font-weight: map-get(utils.$weights, regular);
  }
  button {
    display: block;
    background: none;
    border: none;
    position: absolute;
    top: 0;
    right: 0.9rem;
    height: 60px;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

// Class added  by javascript
// Class for style tags visible but not selected
.selectedTags_item--unchecked {
  cursor: pointer;
  color: map-get(utils.$colors, snow);
  font-style: normal;
  opacity: 1;
  &:hover {
    text-decoration: underline;
  }
}

// Class added  by javascript
// Class for style tags visible and selected
.selectedTags_item--checked {
  cursor: default;
  color: map-get(utils.$colors, lightgrey);
  font-style: italic;
  opacity: 0.7;
  &:hover {
    text-decoration: none;
  }
}
//Class fot style Message "no found search"

.main_noMatchMessage {
  color: map-get(utils.$colors, nightgrey);
  font-style: italic;
  display: none;
}
