@use "./vars";

@mixin borders {
  border: none;
  outline: none;
  border-radius: 0.3rem;
}

@mixin responsive($screen) {
  @media screen and (max-width: map-get(vars.$breakpoints, $screen)) {
    @content;
  }
}
