@use "../utils" as utils;

main {
  margin-top: 2rem;

  // container for recipes li cards
  ul.main_recipesList {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3.5%;
    width: 100%;

    // li cards rcipes
    li.recipesList_cards {
      display: flex;
      flex-direction: column;
      width: 31%;
      height: 460px;
      margin-bottom: 2rem;
      padding-bottom: 1rem;
      background: map-get(utils.$colors, lightgrey);
      @include utils.borders;

      // Container picture
      picture {
        display: block;
      }

      // Image
      img {
        object-fit: cover;
        object-position: top;
        width: 100%;
        height: 220px;
      }
    }
  }
}

// Container for recipe title and timer
.li_title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 1.3rem 0.9rem;

  // Title recipe
  h2 {
    margin: 0;
    font-family: utils.$lato;
    font-size: map-get(utils.$sizes, med);
    font-weight: map-get(utils.$weights, regular);
  }

  // Timer for recipe
  aside {
    font-family: utils.$lato;
    font-size: map-get(utils.$sizes, med);
    font-weight: map-get(utils.$weights, boldy);
  }
}

// Container for ingredients and description recipes
.li_recipe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0 0.9rem;
  overflow: hidden;

  // Container for ingredients
  .recipe_ingredients {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 48%;

    // Ingredients
    li {
      width: 100%;
      height: fit-content;
      margin: 0;
      padding: 0;
      font-family: utils.$lato;
      font-size: map-get(utils.$sizes, xs);
      font-weight: map-get(utils.$weights, regular);
      span {
        font-weight: map-get(utils.$weights, boldy);
      }
    }
  }

  // Container for description
  .recipe_description {
    width: 48%;
    margin: 0;
    position: relative;
    line-height: 1rem;
    max-height: 8rem;
    overflow: hidden;
    padding-right: 1rem;
    font-family: utils.$roboto;
    font-size: map-get(utils.$sizes, xs);
    font-weight: map-get(utils.$weights, regular);

    // display "..." when text content is > 9 lines
    &:before {
      content: "...";
      position: absolute;
      right: 0;
      bottom: 0;
      background: map-get(utils.$colors, lightgrey);
    }
    &:after {
      content: "";
      position: absolute;
      right: 0;
      width: 1rem;
      height: 1rem;
      background: map-get(utils.$colors, lightgrey);
    }
  }
}
